# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d60b3b9ddf5b95ba95f5dd55de829db798a6ad6627ba1808509608164469a623e2ce8adfa7c3a4878f24d47970eaa6cbef874624e8acc68c4081a94ef6a9c666

test:
  secret_key_base: 8ce892ef7757585241a408ce768d924a2a694ab9a90f75cd89dcf36b53b89887ae99b96dd8d1b4c9e450c65b1c61095b70d0fd559abe0be226e0ff12d1ef7d98

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
